<!--The content below is only a placeholder and can be replaced.-->
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">NotePad</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Notes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categories</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">Category</h1>
      <a href="#" class="btn btn-primary btn-block" role="button" aria-pressed="true">Add category</a>
      <br/>
      <div class="list-group">
        <a href="#" class="list-group-item">All</a>
      </div>

    </div>

    <div class="col-lg-9">
      <div class="container note-header">
        <div class="row">
          <div class="col-12 col-md-8">
            <h1>Notes list</h1>
          </div>
          <div class="col-6 col-md-4">
            <a href="#" class="btn btn-primary btn-block note-btn" role="button">Add note</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<br/>
<br/>
<br/>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; ECAM 4IN NotePad Application 2018</p>
  </div>
  <!-- /.container -->
</footer>


