<header>
  <app-navbar></app-navbar>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <app-categories-sidebar></app-categories-sidebar>
    </div>

    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>

<br/>
<br/>
<br/>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; ECAM 4IN NotePad Application 2018</p>
  </div>
  <!-- /.container -->
</footer>


