{% extends 'base.html.twig' %}
{% block title %}Notes{% endblock %}

{% block body %}
    {% for item in notes %}
        <div>
            <h1>{{ item.getTitle() }}</h1>
            <p>Content: {{ item.getContent() }}</p>
            <p>Date: {{ item.getDate()|date('Y-m-d') }}</p>
        </div>
    {% endfor %}
{% endblock %}