{% extends 'base.html.twig' %}
{% block title %}Notes{% endblock %}

{% block body %}
    <div class="card card-outline-secondary my-4">
        {% for item in notes %}
        <div class="card-header">
            {{ item.getTitle() }}
        </div>
        <div class="card-body">
            <p>{{ item.getContent() }}</p>
            <small class="text-muted">Posted on {{ item.getDate()|date('Y-m-d') }}</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}